lxml>=6.0.2,<7.0.0
requests>=2.32.5,<3.0.0
jsonstreams>=0.6.0,<0.7.0
ijson>=3.4.0,<4.0.0
torch>=2.8.0,<3.0.0
colbert-ai @ git+https://github.com/stanford-futuredata/ColBERT.git
transformers>=4.57.1,<5.0.0
